@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    color: rgb(27, 27, 27) !important;
    fill: black !important;
    stroke: black !important;
}

 /* change the size of the bullet and active color */
 .swiper-pagination-bullet-active {
   background-color: #d80945;
 }

.swiper-pagination-bullet {
        background-color: #f6d7dd;
        display: inline-block;
        width: 2rem;
        height: 2rem;
    }

    /* change color of next 2 bullets in sequence to white*/

.swiper-pagination-bullet-active-next, .swiper-pagination-bullet-active-next-next {
    background-color: white;
}

    /* change color of previous bullet to white*/

.swiper-pagination-bullet-active-prev {
    background-color: white;
}

.PhoneInputInput {
    border: none;
    outline: none  !important;
    appearance: none  !important;
}
.PhoneInputInput--focus{
    border: none;
    outline: none  !important;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    position: relative;
}